body{

    background:#F4F7FA;

    font-family:"Segoe UI",sans-serif;
}

.dashboard-title{

    font-size:2.5rem;

    font-weight:700;

    color:#1F2937;
}

.dashboard-subtitle{

    color:#6B7280;

    font-size:1rem;
}

.dashboard-card{

    display:block;

    background:white;

    padding:30px;

    border-radius:20px;

    box-shadow:0 10px 25px rgba(0,0,0,.05);

    transition:.3s;

    color:#111827;

    height:100%;
}

.dashboard-card:hover{

    transform:translateY(-5px);

    box-shadow:0 15px 35px rgba(0,0,0,.10);

    color:#111827;
}

.card-icon{

    font-size:2.5rem;

    margin-bottom:15px;
}

.dashboard-card h5{

    font-weight:600;

    margin-bottom:10px;
}

.dashboard-card p{

    color:#6B7280;

    margin:0;
}